* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background-color: #17A8B6;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 8px 14px;
  text-transform: uppercase;
}

.nav-btn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#nav {
  display: none;
}

.travelen {
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}

a.active,
a:hover {
  color: #fff;
  trasition: 0.5s;
}

#home {
  padding-top: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4% 6%;
}

.row .column-1 {
  padding-right: 50px;
}

.column-1 h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.column-1 p {
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 20px;
}

.btn-start {
  width: 160px;
  height: 44px;
  background-color: #17A8B6;
  border: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
}

.btn-start:hover {
  background-color: #fff;
  color: #17A8B6;
  transition: 0.5s;
  border: 1px solid #17A8B6;
}

.btn-start-outline {
  width: 160px;
  height: 44px;
  background-color: #fff;
  border: 1px solid #17A8B6;
  color: #17A8B6;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
}

.btn-start-outline:hover {
  background-color: #17A8B6;
  color: #fff;
  transition: 0.5s;
}

#about {
  background: url('../img/beach.png') no-repeat left;
  background-size: 55%;
  background-color: #fff;
  overflow: hidden;
  padding: 100px 0;
}

.i-container {
  width: 55%;
  float: right;
  background-color: #fff;
  padding: 150px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.i-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 14px;
  color: #545454;
  line-height: 30px;
  text-align: left;
  margin-bottom: 40px;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
}

.services-row h1 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

.services-row hr {
  width: 4%;
  margin: 0 auto;
  border: 0;
  border-top: 3px solid #17A8B6;
  padding-bottom: 10px;
}

.card-column {
  padding: 4% 6%;
}

.card {
  text-align: center;
  padding: 50px 40px;
  background: linear-gradient(0deg, #17A8B6 14px, transparent 0px);
  background-position: 0 9px;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.10);
  transition: 0.5s;
  cursor: pointer;
}

.card .card-icon {
  font-size: 30px;
  height: 64px;
  width: 64px;
  margin: auto;
  background-color: #17A8B6;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
}

.card h3 {
  font-size: 20px;
  margin: 10px 20px;
  letter-spacing: 0.3px;
}
.card p {
  color: #545454;
  font-size: 14px;
}

@media (min-width: 952px) {
  .card-column {
    padding: 4%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 952px) {
  .travelen {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .adventure {
    width: 300px;
  }
  #about {
    background-size: 100%;
    padding: 100px 40px;
  }
  .i-container {
    width: 100%;
  }
}

@media (max-width: 858px) {
  .nav-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #384259;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #nav:checked ~ ul {
    left: 0;
  }
  .row {
    flex-direction: column;
  }
  .row .column-1 {
    padding: 30px;
    margin-top: -20px;
  }
  .row .column-2 {
    padding: 20px;
  }
  #about {
    padding: 0;
  }
  .i-container {
    padding: 60px;
  }
}

@media (max-width: 480px) {
  .btn-start {
    width: 100%;
  }
  .row .column-1 p {
    margin-top: -16px;
  }
}
